# WebSocket Service
VITE_WS_BASE_URL=wss://azca2a6z7bdznymc2.blackbeach-53f09f44.eastus.azurecontainerapps.io
VITE_API_BASE_URL=https://azca2a6z7bdznymc2.blackbeach-53f09f44.eastus.azurecontainerapps.io
